.custom-spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #e9bf14; /* yellow-400 */
    border-top: 6px solid transparent;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  